= form_for(@inventory, url: '/admin/apps/9/submit_form') do |f|
  
  .form-inputs
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :object_type
      = f.text_field :object_type
    .field
      = f.label :start_date
      = f.date_select :start_date, order: [:day, :month, :year]
    .field
      = f.label :end_date
      = f.date_select :end_date, order: [:day, :month, :year]
    .field
      = f.label :price
      = f.number_field :price

  .form-actions
    = f.submit "Submit Item"

  :css
    .field {
      padding: 10px 0;
    }

    .field label { display: block; }