<html>
<body>
<% if @job.present? %>
<p>
<%= "#{@first_name} #{@last_name} has applied for the job below..." %>
</p>
<p>
Job Details
<br/>
<%= "Job Title: #{@job[:job_title]}" %>
<br/>
<%= "Job Reference: #{@job[:job_reference]}" %>
<br/>
<%= "Application Date: #{Time.current.to_s(:long)}" %>
<br/>
</p>
<% else %>
<p>
<%= "#{@first_name} #{@last_name} has registered on the website" %>
</p>
<% end %>
<p>
User Details
<br/>
<%= "Name: #{@first_name} #{@last_name}" %>
<br/>
<%= "Email: #{@email}" %>
<br/>
</p>
<p>
*** PRS DATA ***
<br/>
<%= "FirstName: #{@first_name}" %>
<br/>
<%= "LastName: #{@last_name}" %>
<br/>
<%= "Email: #{@email}" %>
<br/>
<% @registration_answer_hash.each do |question, answer| %>
<% unless question.ends_with? '_array' %>
<%= "#{question}: #{answer.encode(answer.encoding, universal_newline: true).gsub("\n",", ")}" %>
<br/>
<% end %>
<% end %>
<% if @job.present? %>
<%= "JobTitle: #{@job[:job_title]}" %>
<br/>
<%= "Vacancy: #{@vacancy_number}" %>
<br/>
<% end %>
*** PRS DATA ***
</p>
</body>
</html>
