- if @job.present?
  :plain
    #{@first_name} #{@last_name} has applied for the job below...
                      
    Job Details
    Job Title: #{@job[:job_title]}
    Job Reference: #{@job[:job_reference]}
    Application Date: #{Time.current.to_s(:long)}
- else
  #{@first_name} #{@last_name} has registered on the website
:plain

  User Details
  Name: #{@first_name} #{@last_name}
  Email: #{@email}

  *** PRS DATA ***
  FirstName: #{@first_name}
  LastName: #{@last_name}
  Email: #{@email}
- @registration_answer_hash.each do |question, answer|
  - unless question.ends_with? '_array'
    #{question}: #{answer.encode(answer.encoding, universal_newline: true).gsub("\n",", ")}
- if @job.present?
  JobTitle: #{@job[:job_title]}
  Vacancy: #{@job[:job_reference]}
*** PRS DATA ***