- url = Rails.env.development? ? 'http://localhost:3001/reed_global/destroy_country' : "https://#{ENV['DOMAIN_NAME']}/reed_global/destroy_country"
%table.table
  %thead
    %tr
      %td Name
      %td Reference
      %td
  %tbody
    - reed_countries.each do |country|
      %tr
        %td= country.name
        %td= country.country_reference
        %td
          .pull-right= link_to 'Delete', "#{url}?dataset_id=#{country.dataset_id}&id=#{country.id}", class: 'delete-country', data: { confirm: "Are you sure you want to delete #{country.name}?" }, method: :post, remote: true