- url = Rails.env.development? ? 'http://localhost:3001/reed_global/destroy_mapping' : 'https://apps.volcanic.co/reed_global/destroy_mapping'
- if mappings.present?
  .well
    %h6
      %b= discipline_name
    %table.table
      - mappings.each do |mapping|
        %tr
          %td= mapping.job_function_name_from_api_response(@job_functions)
          %td
            .pull-right= link_to 'Delete', "#{url}?dataset_id=#{mapping.reed_country.dataset_id}&reed_country_id=#{mapping.reed_country_id}&id=#{mapping.id}", class: 'delete-mapping', data: { confirm: "Are you sure you want to delete this mapping?" }, method: :post, remote: true