.volcanic_apps
  .row
    #flash_messages
  - if @settings.present? && @settings.access_token.present?
    .row
      .col-xs-12
        %h2 Mailchimp Volcanic App
        %h6 Your account is authorised.
        %h5= @user_data
    .row
      .col-xs-12
        =link_to 'New condition', @new_condition_url, class: 'btn btn-primary'
    .row
      .col-xs-12
        = render partial: 'conditions_table'
    .row
      .col-xs-12
        = render partial: 'lists_info'
    %hr
    .row
      .col-xs-12
        - @user_groups.each do |group|
          -if group['allow_registrations']
            .well
              %p 
                Group id: 
                = group['id']
              %p
                Name: 
                = group['name']
              %p
                Allow reg: 
                = group['allow_registrations']
              %hr
              %h5 Registration questions groups
              - group['registration_question_groups'].each do |registration_group|
                %h6= registration_group['label']
                - registration_group['registration_questions'].each do |question|
                  %p= question['label']
                  - if question['options'].present?
                    %span
                      %strong= question['options']
            %br
  - else
    .row
      .col-xs-12
        %p
          Please click the button below to authorize your account.
        %br
          = link_to "Authorize Access", "#{@auth_url}", class: 'btn btn-info btn-lg'