.volcanic_apps
  .row
    #flash_messages
  - if @settings.present? && @settings.access_token.present?
    .row
      .col-xs-12
        %h2 Mailchimp Volcanic App
        %h6
          Your account is authorised.
    .row
      .col-xs-12
        =link_to 'New condition', @new_condition_url
    .row
      .col-xs-12
        - if @mailchimp_conditions.present?
          %h2 Conditions
          
          %table.table#data-table
            %thead
              %tr
                %th User Group
                %th Registration Question
                %th Candidate Answer
                %th MailChimp List
            %tbody
              - @mailchimp_conditions.each do |condition|
                %tr
                  - @user_groups.each do |group|
                    - if group['id'] == condition.user_group
                      %td= group['name']
                      - group['registration_question_groups'].each do |registration_group|
                        - registration_group['registration_questions'].each do |question|
                          - if question['id'] == condition.registration_question_id
                            %td= question['label']
                  %td= condition.answer
                  - @mailchimp_lists_collection.each do |list|
                    - if list[1] == condition.mail_chimp_list_id
                      %td= list[0]
    %hr
    .row
      .col-xs-12
        - @user_groups.each do |group|
          -if group['allow_registrations']
            .well
              %p 
                Group id: 
                = group['id']
              %p
                Name: 
                = group['name']
              %p
                Allow reg: 
                = group['allow_registrations']
              %hr
              %h5 Registration questions groups
              - group['registration_question_groups'].each do |registration_group|
                %h6= registration_group['label']
                - registration_group['registration_questions'].each do |question|
                  %p= question['label']
                  - if question['options'].present?
                    %span
                      %strong= question['options']
            %br
  - else
    .row
      .col-xs-12
        %p
          Please click the button below to authorize your account.
        %br
          = link_to "Authorize Access", "#{@auth_url}", class: 'btn btn-info btn-lg'