- @url_post = Rails.env.development? ? 'http://localhost:3001/bullhorn/update' : 'https://apps.volcanic.co/bullhorn/update'
= simple_form_for @bullhorn_setting, url: @url_post, method: :post, remote: true do |f|

  -# BULLHORN CONNECTION FORM
  = f.input :dataset_id, as: :hidden
  .panel{class: @bullhorn_setting.authorised? ? 'panel-success' : 'panel-danger'}
    .panel-heading
      %h6.panel-title 
        1. Authentication Settings
        - if @bullhorn_setting.authorised?
          %i.icon-checkmark
        - else
          = link_to '#', data: { toggle: "modal", target: "#credentialsInfo"} do
            %i.icon-info22
    .panel-body
      .row
        .col-md-6
          = f.input :bh_username, input_html: { class: 'form-control' }
          = f.input :bh_password, input_html: { class: 'form-control', value: @bullhorn_setting.bh_password }
        .col-md-6
          = f.input :bh_client_id, input_html: { class: 'form-control' }
          = f.input :bh_client_secret, as: :password, input_html: { class: 'form-control', value: @bullhorn_setting.bh_client_secret }

  - if @bullhorn_setting.authorised
    .panel.panel-default
      .panel-heading 
        %h6.panel-title 2. Candidate Settings
      .panel-body
        %h4 
        .row
          .col-md-6
            = f.input :source_text, input_html: { class: 'form-control', value: f.object.source_text.present? ? f.object.source_text : 'Company Website' }

            = f.input :status_text, input_html: { class: 'form-control', value: f.object.status_text.present? ? f.object.status_text : 'New Lead' }

            = f.input :cv_type_text, input_html: { class: 'form-control', value: f.object.cv_type_text.present? ? f.object.cv_type_text : 'CV' }
          .col-md-6
            = f.input :always_create, collection: [['Try and update existing candidate records', false], ['Always create a new candidate record', true]], as: :radio_buttons, input_html: { class: 'form-control' }
        %hr
        .row
          .col-xs-12
            %h6 Candidate Fields Mappings
          .col-xs-12
          






  = link_to 'Save', '#', id: 'submit-btn', class: 'btn btn-primary show-loader'


= render partial: 'credentials_info'

:javascript
  $("#submit-btn").click(function(e) {
    e.preventDefault();
    $("#settings_form form").submit();
  });

  $('#settings_form form').keyup(function(event) {
    if(event.keyCode === 13) {
      $("#submit-btn").trigger("click");
    }
  });

  $(".show-loader").click(function(e){
    $(this).addClass("disabled");
    $(this).prepend('<i class="icon-spinner4 spinner position-left"></i>');
  });
  $('[data-toggle="tooltip"]').tooltip();