/ = simple_form_for @bullhorn_settings, url: 'https://apps.volcanic.co/bullhorn/save_settings', method: :post, remote: true do |f|
= simple_form_for @bullhorn_setting, url: 'http://localhost:3001/bullhorn/save_settings', method: :post, remote: true do |f|
  = f.input :dataset_id, as: :hidden
  .panel.panel-default
    .panel-heading 1. Authentication Settings
    .panel-body
      .row
        .col-md-6
          = f.input :bh_username
          = f.input :bh_password, as: :string
        .col-md-6
          = f.input :bh_client_id
          = f.input :bh_client_secret
      .form-group= f.submit class: 'btn btn-primary'
  - unless @bullhorn_setting.authorised
    .alert.alert-danger
      %button.close{type: "button", data: {dismiss: "alert"}} ×
      %i.fa.fa-thumbs-o-down
      Your authorisation details are not working, please correct them.
  - else
    .alert.alert-success
      %i.fa.fa-thumbs-o-up
      Your authorisation details are valid and your website is connected to your Bullhorn account.
    .panel.panel-default
      .panel-heading 2. Integration Settings
      .panel-body
        .row
          .col-md-6
            = f.input :source_text
          .col-md-6
            = f.input :linkedin_bullhorn_field
        %hr
        .well
          %p This App can import Vacancies from Bullhorn to your Volcanic website. Applications by Candidates through the website are updated in Bullhorn if this option is selected. 
          %p Do not select this option if your website uses a Job Posting tool such as Broadbean/Idibu/LogicMelon.
          = f.input :import_jobs
        .well
          %p 
            When a Candidate registers an account through the website, this App determines if they already have a Candidate profile in Bullhorn using their email address. 
            If so, the Bullhorn Candidate record is updated with the registration data the Candidate provides.
          %p You can force a new Candidate profile to be created in Bullhorn instead of updating an existing account by selecting this option.
          = f.input :always_create
        .form-group= f.submit class: 'btn btn-primary'
    .panel.panel-default
      .panel-heading 3. Field Mappings
      .panel-body
        .mappings
          = render :partial => 'bullhorn_field_mapping_fields', locals: { f: f }
        .text-right= link_to t('.add_another_field_mapping'), '#', id: 'add_another_mapping'
        .form-group= f.submit class: 'btn btn-primary'
    :javascript
      $('#add_another_mapping').click(function(e) {
        e.preventDefault();
        var time_i = Date.now();
        var new_fields = '<div class="well"> \
                            <div class="row"> \
                              <div class="col-md-6"><div class="input string optional bullhorn_app_setting_bullhorn_field_mappings_bullhorn_field_name"><label class="string optional" for="bullhorn_app_setting_bullhorn_field_mappings_attributes_'+time_i+'_bullhorn_field_name">Bullhorn Field Name</label><input class="string optional" id="bullhorn_app_setting_bullhorn_field_mappings_attributes_'+time_i+'_bullhorn_field_name" name="bullhorn_app_setting[bullhorn_field_mappings_attributes]['+time_i+'][bullhorn_field_name]" type="text"></div></div> \
                              <div class="col-md-6"><div class="input string optional bullhorn_app_setting_bullhorn_field_mappings_registration_question_reference"><label class="string optional" for="bullhorn_app_setting_bullhorn_field_mappings_attributes_'+time_i+'_registration_question_reference">Registration Question Reference</label><input class="string optional" id="bullhorn_app_setting_bullhorn_field_mappings_attributes_'+time_i+'_registration_question_reference" name="bullhorn_app_setting[bullhorn_field_mappings_attributes]['+time_i+'][registration_question_reference]" type="text"></div></div> \
                            </div> \
                            <div class="row"> \
                              <div class="col-md-6"><div class="input boolean optional bullhorn_app_setting_bullhorn_field_mappings_sync_from_bullhorn"><input name="bullhorn_app_setting[bullhorn_field_mappings_attributes]['+time_i+'][sync_from_bullhorn]" type="hidden" value="0"><label class="boolean optional checkbox" for="bullhorn_app_setting_bullhorn_field_mappings_attributes_'+time_i+'_sync_from_bullhorn"><input class="boolean optional" id="bullhorn_app_setting_bullhorn_field_mappings_attributes_'+time_i+'_sync_from_bullhorn" name="bullhorn_app_setting[bullhorn_field_mappings_attributes]['+time_i+'][sync_from_bullhorn]" type="checkbox" value="1">Sync from Bullhorn</label></div></div> \
                            </div> \
                          </div>';
        $('.mappings').append(new_fields);
      });