= simple_form_for :data, url: @host,  remote: true do  |f|
  .row
    .col-md-6
      = render :partial => 'shared/flashes', :locals => { :flash => flash }
  .row
    .col-md-6
      = f.input :client_id, input_html: { value:  (@settings.present? ? @settings.client_id : '') }
  .row
    .col-md-6
      = f.input :client_secret, input_html: { value: (@settings.present? ? @settings.client_secret : '') }
  .row
    .col-md-6
      = f.hidden_field :dataset_id, value: @dataset_id
  %br
  = f.button  :submit, "Save", class: "btn btn-info"
