.volcanic_apps
  .row
    .col-md-3
      = image_tag(image_url('Yu_Talent_Logo.png'), class: 'img-responsive')

    .col-md-9
      %h3 YuTalent automates sending and receiving data from your website.
      %hr.featurette-divider

      %p
        You can contact YuTalent UK Support on the following number:
      %p
        +44 (0)870 147 146

      %br

      #flash_messages

      - if @settings.present? && @settings.authorization_code.present?
        %h4
          Your App is Authorised.
      - else
        %p
          Please click the button below to authorize your YuTalent app.
        %br
          = link_to "Authorize Access", "#{@auth_url}", class: 'btn btn-info btn-lg'

  %br
  %hr.featurette-divider
  %br

  - if !@settings.present? || !@settings.authorization_code.present?
    .row
      %h3.text-center How to authorize your YuTalent app

      %br

      #quote-carousel.carousel.slide{ "data-ride" => "carousel", "data-interval"=>"false" }
        -# Bottom Carousel Indicators
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#quote-carousel"}
          %li{"data-slide-to" => "1", "data-target" => "#quote-carousel"}
          %li{"data-slide-to" => "2", "data-target" => "#quote-carousel"}
          -# %li{"data-slide-to" => "3", "data-target" => "#quote-carousel"}
        -# Carousel Slides / Quotes

        .carousel-inner.text-center
          -#  Quote 1
          .item.active
            .row.push-bottom--double
              .col-sm-8.col-sm-offset-2
                %p Authorize Volcanic to access your YuTalent data by clicking the <i>'Authorize YuTalent Access'</i> button.
            %br
            .push-bottom--double
              = image_tag(image_url('yutalent-api-auth-1.png'), class: 'img-responsive')
            %br

          -#  Quote 2
          .item
            .row.push-bottom--double
              .col-sm-8.col-sm-offset-2
                %p Login to your YuTalent account.
            %br
            .push-bottom--double
              = image_tag(image_url('yutalent-api-auth-2.png'), class: 'img-responsive push-bottom--double')
            %br

          -#  Quote 3
          .item
            .row.push-bottom--double
              .col-sm-8.col-sm-offset-2
                %p Click <i class="text-success">'YES, AUTHORIZE'</i> button.
            %br
            .push-bottom--double
              = image_tag(image_url('yutalent-api-auth-3.png'), class: 'img-responsive push-bottom--double')
            %br

          -#  Quote 4
          -# .item
          -#   .row.push-bottom--double
          -#     .col-sm-8.col-sm-offset-2
          -#       %p Congratulations, you have successfully completed the authorization process.
          -#   %br
          -#   .push-bottom--double
          -#     = image_tag(image_url('yutalent-api-auth-3.png'), class: 'img-responsive push-bottom--double')
          -#   %br

        -# Carousel Buttons Next/Prev
        %a.left.carousel-control{"data-slide" => "prev", :href => "#quote-carousel"}
          %i.fa.fa-chevron-left.text-info
        %a.right.carousel-control{"data-slide" => "next", :href => "#quote-carousel"}
          %i.fa.fa-chevron-right.text-info
