.table-responsive
  %table.table
    %thead
      %tr
        %th #
        %th User ID
        %th Name
        %th Referred Users
    %tbody
      -@referrals.each_with_index do |refdata, i|
        %tr
          %td= i+1
          %td= refdata[2]
          %td= "#{refdata[0]} #{refdata[1]}"
          %td= refdata[3]
