/ = stylesheet_link_tag "application"
/ = javascript_include_tag "application"

= form_for :referrals, url: relative_link('referrals_for_period'), method: :get do |f|
  .row
    .col-md-6.col-md-offset-6
      %p.text-right
        %label From
        = date_select '', :start_date, default: Date.parse("2010-01-01"), start_year: 2010, end_year: 2020
      %p.text-right
        %label To
        = date_select '', :end_date, default: Date.parse("2020-01-01"), start_year: 2010, end_year: 2020
      %p.text-right
        = f.submit "Filter Referrals"

.panel-group#accordion
  - if @referrals.present?
    - @referrals.each_with_index do |referral, i|
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            = link_to referral[0], "#referrer-#{i}", data: { parent: '#accordion', toggle: 'collapse' }
            .pull-right
        .panel-collapse.collapse{id: "referrer-#{i}"}
          .panel-body
            -referral[1].each do |ref|
              .row
                .col-xs-2= "#{ref.full_name} (ID: #{ref.user_id})"
                %attr.col-xs-3{title: "#{ref.confirmed_at if ref.confirmed}"}
                  = "Confirmed?: #{ref.confirmed? ? 'Yes' : 'No'}"

                %attr.col-xs-3{title: "#{ref.revoked_at if ref.revoked}"}
                  .revoked= "Revoked?: #{ref.revoked ? 'Yes' : 'No'}"

                .col-xs-2
                  - if ref.confirmed
                    = "Paid?: #{ref.fee_paid ? 'Yes' : 'No'}"

                - if !ref.revoked?
                  .col-xs-2.revoke= link_to "Revoke", referral_revoke_url(ref, format: :json), remote: true
  - else
    %p No referrals have been made during this time period :(

  :javascript
    $(function() {
      $('.revoke').bind('ajax:success', function() {
        $(this).parent().find('.revoked').text("Revoked?: Yes");
        $(this).hide();
      }).bind('ajax:beforeSend', function(xhr) {
      });
    });
