= form_for(@referral, url: '', remote: true) do |f|
  .form-inputs
    .errors
    
    = f.hidden_field :id, value: @referral.id

    .field
      = f.label :account_name, "PayPal Email Address"
      = f.text_field :account_name

  .form-actions
    = f.submit "Submit"

  :css
    .field { padding: 10px 0; }
    .field label { display: block; }

  :javascript
    $(function() {
      $('form').submit(function() {
        var formData = $(this).serialize();
        $.ajax({
          url: "http://#{app_server_host}/referrals/save_payment_info.json",
          type: "POST",
          crossDomain: true,
          data: formData,
          dataType: 'json'
        }).complete(function(data) {
          if(data.responseJSON.success) {
            $('#pay-modal').modal('hide');
          } else {
            $('.errors').html(data.responseJSON.status);
          }
          return false;
        });
        e.preventDefault();
        return false;

      });
    });