- url = Rails.env.development? ? 'http://localhost:3001/twitter/update' : 'https://apps.volcanic.co/twitter/update'

.volcanic_apps.mailchimp-app
  - if @setting.present? && @setting.access_token.present?
    .alert.alert-success.alert-styled-left.alert-arrow-left.alert-bordered
      %span.text-semibold Your account is authorised.
    %h6.content-group.text-semibold
      Twitter App
      %small.display-block Post jobs directly to your twitter timeline.
    .row
      .col-xs-8
        .panel
          .panel-body
            = simple_form_for @setting, url: url, method: :post, remote: true do |f|
              = f.hidden_field :dataset_id, value: @setting.dataset_id
              = f.input :tweet, hint: 'Default Tweet: {{job_title}} - {{job_location}} - {{discipline}}', input_html: { class: 'string required form-control', max: 140 }
              = f.submit 'Save', class: 'btn btn-primary'
      .col-xs-4
        .panel.panel-default
          .panel-heading Available Tags
          .panel-body
            %ul
              %li {{job_title}}
              %li {{job_location}}
              %li {{discipline}}
              %li {{job_url}}
  - else
    .alert.alert-info.alert-styled-left.alert-arrow-left.alert-bordered
      %span.text-semibold Please click the button below to authorize your account.
    %h6.content-group.text-semibold
      Twitter App
      %small.display-block Post jobs directly to your twitter timeline.
    = link_to 'Authorize Access', @authorize_url, class: 'btn btn-default btn-lg'