- url = Rails.env.development? ? 'http://localhost:3001/etz/update' : "https://#{ENV['DOMAIN_NAME']}/etz/update"

.row
  .col-xs-8
    .panel
      .panel-body
        #flash_messages
        = simple_form_for @setting, url: url, method: :post, remote: true do |f|
          = f.hidden_field :dataset_id, value: @setting.dataset_id
          = f.input :url, input_html: { class: 'string required form-control' }
          = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }