.panel.panel-default
  .panel-heading
    %h5.panel-title Candidate Settings
  .panel-body
    .row
      .col-xs-12
        %h6 Candidate Fields Mappings
        - if @ja_candidate_fields.blank?
          .alert.alert-danger
            Retrieving the latest data for your candidate fields from JobAdder took too long, please refresh the page to try again. If the problem persists please contact Volcanic support.
        - else
          %p
            Here you can set how registration fields within your Volcanic website correspond to fields within your JobAdder application.
            Only the data set up here will be sent to JobAdder when a Candidate registers.
          %a.btn.btn-primary{"aria-controls" => "collapse-candidate-fields", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapse-candidate-fields"}
            Mappings
            %i.fa.fa-lg.fa-angle-down
          #collapse-candidate-fields.collapse
            .mappings
              .legend{class: "text-semibold"} Registration & Application Form Questions
              %table.table
                %thead
                  %th Volcanic Candidate Field
                  %th
                  %th JobAdder Candidate Field
                %tbody
                  = f.simple_fields_for :jobadder_field_mappings, @fields do |jfm|
                    %tr
                      %td
                        - if @volcanic_fields[jfm.object.registration_question_reference].present?
                          = @volcanic_fields[jfm.object.registration_question_reference]
                        - else
                          = jfm.object.registration_question_reference
                          %i.icon-alert.text-danger{ 'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => "The question this reference refers to no longer exists!" }
                        = jfm.input :registration_question_reference, as: :hidden
                      %td.text-center
                        %i.icon-arrow-right16
                      %td
                        = jfm.input :jobadder_field_name, collection: @ja_candidate_fields, label: false, include_blank: true, input_html: { class: 'form-control select2' }

              .legend{class: "text-semibold"} File Attachments
              %table.table
                %thead
                  %th Volcanic Candidate Field
                  %th
                  %th JobAdder Candidate Field
                %tbody
                  = f.simple_fields_for :jobadder_field_mappings, @files do |jfm|
                    %tr
                      %td
                        -#- if @volcanic_fields[jfm.object.registration_question_reference].present?
                        -#  = @volcanic_fields[jfm.object.registration_question_reference]
                        - if @volcanic_upload_file_fields[jfm.object.registration_question_reference].present?
                          = @volcanic_upload_file_fields[jfm.object.registration_question_reference]
                        - if @volcanic_upload_file_fields_core[jfm.object.registration_question_reference].present?
                          = @volcanic_upload_file_fields_core[jfm.object.registration_question_reference]
                        -#- else
                        -#  = jfm.object.registration_question_reference
                          %i.icon-alert.text-danger{ 'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => "The question this reference refers to no longer exists!" }
                        = jfm.input :registration_question_reference, as: :hidden
                      %td.text-center
                        %i.icon-arrow-right16
                      %td
                        - if @volcanic_upload_file_fields[jfm.object.registration_question_reference].present?
                          = jfm.input :jobadder_field_name, collection: @ja_attachment_types, label: false, include_blank: true, input_html: { class: 'form-control select2' }
                        - if @volcanic_upload_file_fields_core[jfm.object.registration_question_reference].present?
                          = jfm.input :jobadder_field_name, as: :boolean,label: 'Send To JobAdder', input_html: { class: 'form-control select2' }

                        -#- else
                        -#  = jfm.input :jobadder_field_name, collection: @ja_candidate_fields, label: false, include_blank: true, input_html: { class: 'form-control select2' }


:javascript
  $( "a.btn" ).click(function() {
    if ($(this).find( "i" ).hasClass('fa-rotate-180')){
      $(this).find( "i" ).removeClass('fa-rotate-180');
    }else{
      $(this).find( "i" ).addClass('fa-rotate-180');
    }

  });
:scss
  .legend{
    display: block;
    width: 100%;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 19.5px;
    line-height: inherit;
    color: #333;
    border: 0;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    }
