- @url_post = Rails.env.development? ? 'http://localhost:3001/jobadder/update' : " https://#{ENV['DOMAIN_NAME']}/jobadder/update'"
= simple_form_for @ja_setting, url: @url_post, method: :post, remote: true do |f|

  = f.input :dataset_id, as: :hidden
  = render partial: 'authorize_application'

  -# JOBADDER MAPPINGS AND OPTIONS IF THE CLIENT IS AUTHENTICATED
  - if @ja_setting.authorised
    -# CANDIDATE SETTINGS
    = render partial: 'candidate_settings', locals: {f: f}


:css
  .select2-dropdown {
    border: 1px solid #ddd !important;
    border-radius: 3px !important;
  }
:javascript

  $(document).ready(function() {
    $('.select2').select2({width: '100%', placeholder: ' ', allowClear: true});
  });