= form_for(@inventory, url: 'http://localhost:3001/inventories/create_item') do |f|
  
  .form-inputs
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :object_type
      = f.text_field :object_type
    .field
      = f.label :start_date
      = f.date_field :start_date
    .field
      = f.label :end_date
      = f.date_field :end_date
    .field
      = f.label :price
      = f.number_field :price, step: :any

  .form-actions
    = f.submit "Submit Item"

  :css
    .field { padding: 10px 0; }
    .field label { display: block; }