%h5
  = link_to 'Add Item', relative_link("new_inventory")
  &nbsp;
  = link_to 'Toggle Inactive', '#', class: 'toggle-active'

.table-responsive
  %table.table
    %thead
      %tr
        %th Display Name
        %th Action
        %th Price
        %th Credit Type
        %th Start Date
        %th End Date
        %th
    %tbody
      - @items.each do |item|
        %tr{class: "#{'success' if item.within_date}"}
          %td= item.name
          %td= item.object_action
          %td= number_to_currency(item.price, unit: '£')
          %td= item.credit_type
          %td= item.human_start_date if item.start_date
          %td= item.human_end_date if item.end_date
          %td
            =link_to relative_link("edit_inventory?inv_id=#{item.id}") do
              %i.fa.fa-pencil
:javascript
  $(function() {
    var hidden = false;
    $('.toggle-active').click(function() {
      var inactiveItems = $('table tbody tr:not(.success)')
      hidden ? inactiveItems.show() : inactiveItems.hide();
      hidden = !hidden;
      return false;
    });
  });
