%h5
  = link_to 'Add Item', '/admin/apps/9/new_inventory'

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Display Name
        %th Item Type
        %th Price
        %th Start Date
        %th End Date
        %th
    %tbody
      - @items.each do |item|
        %tr
          %td= item.name
          %td= item.object_type
          %td= number_to_currency(item.price, unit: '£')
          %td= item.human_start_date if item.start_date
          %td= item.human_end_date if item.end_date
          %td
            =link_to "/admin/apps/9/edit_inventory?inv_id=#{item.id}" do
              %i.fa.fa-pencil
