%h5
  = link_to 'Add Item', "new_inventory"

.table-responsive
  %table.table
    %thead
      %tr
        %th Display Name
        %th Item Type
        %th Price
        %th Start Date
        %th End Date
        %th
    %tbody
      - @items.each do |item|
        %tr{class: "#{'success' if item.start_date && item.end_date && item.within_date}"}
          %td= item.name
          %td= item.object_type
          %td= number_to_currency(item.price, unit: '£')
          %td= item.human_start_date if item.start_date
          %td= item.human_end_date if item.end_date
          %td
            =link_to "edit_inventory?inv_id=#{item.id}" do
              %i.fa.fa-pencil
