%html
  %body
    - if @job.present?
      %p
        XJAFN: #{@first_name}
        XJALN: #{@last_name}
        XJAEM: #{@email}
        XJAMP: #{@registration_answer_hash['phone']}
        XJAST: #{@registration_answer_hash['state-i-reside-in']}
        XJARS: #{@registration_answer_hash['residency']}
      *** DAXTRA DATA ***
