.row
  .col-md-4
    .errors
    = f.hidden_field :id, value: @job_board.id
    = f.hidden_field :app_dataset_id, value: @job_board.app_dataset_id

    = render partial: "general_fields", locals: {f: f}
    %hr
    = render partial: "job_token_fields", locals: {f: f}
    %hr
    = render partial: "cv_search_fields", locals: {f: f}    
    %hr
    = render partial: "tax_fields", locals: {f: f} 
    %hr
    = render partial: "salary_slider_attributes", locals: {f: f}
    %hr
    .form-actions.form-group
      .errors
      = f.submit "Save Settings", class: "btn btn-default"

:javascript
  $('#job_board_currency').change(function(){
    var new_symbol = "£";
    switch($(this).val()){
      case "GBP":
        new_symbol = "£";
        break;
      case "EUR":
        new_symbol = "€";
        break;
      case "USD":
        new_symbol = "$";
        break;
      default:
        new_symbol = "-";
    }
    $('.currency-symbol').html(new_symbol);
  });

  