= f.fields_for :job_token_settings do |ff|
  .section.mb30
    %h3 Job Credits
    .checkbox
      = ff.label :require_tokens_for_jobs do
        = ff.check_box :require_tokens_for_jobs
        Require Credit to Post a Job

    .checkbox
      = ff.label :charge_for_jobs do
        = ff.check_box :charge_for_jobs
        Charge for Job Posting Credit

    .form-group
      = ff.label :job_token_price, "Price per Job Token"
      .input-group
        .input-group-addon.currency-symbol= currency_to_symbol(@job_board.currency)
        = ff.number_field :job_token_price, as: :numeric, step: 0.01, min: 0, class: "form-control"

    .form-group
      = ff.label :job_duration, "Job Listing Duration"
      .input-group
        = ff.number_field :job_duration, as: :numeric, step: 1, min: 1, wrapper: false, label: false, class: "form-control"
        .input-group-addon days

    .form-group
      = ff.label :job_token_title, "Job Credit Title"
      = ff.text_field :job_token_title, placeholder: "e.g. Job Posting Credit", class: "form-control"
      %span.help-block This is the name of this purchase as displayed to the user

    .form-group
      = ff.label :job_token_description, "Job Credit Description"
      = ff.text_area :job_token_description, rows: 5, placeholder: "e.g. This will allow you to post a job", class: "form-control"
      %span.help-block Description of this purchase as displayed to the user under the title